@model IEnumerable<AuctionApp.Models.Listing>

@{
    ViewData["Title"] = "Index";
}

<h1>Hello Test</h1>

@foreach (var listing in Model)
{
    <div class="container">
           <div class="row">
               <div class="col col-xs-6 col-lg-5">

               </div>
           </div>
    </div>
}